.user{
    flex: 4;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}

.userShow{
    flex: 1;
    padding: 20px;
    box-shadow: 12px 15px 13px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 15px 13px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 15px 13px 5px rgba(0,0,0,0.75);
}

.userUpdate{
    flex: 2;
    padding: 20px;
    margin-left: 30px;
    box-shadow: 12px 15px 13px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 15px 13px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 15px 13px 5px rgba(0,0,0,0.75);
}

.userShowTop{
    display: flex;
    align-items: center;    
}

.userShowImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUserName{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle{
    font-weight: 600;
    font-style: 14px;
    color: rgba(175, 170, 170);
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}