.topbar{
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: grey;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    display: flex;
    width: 100px;
    height: 70px;
    align-items: center;
    justify-content: center;
}


.text{
    font-family: Lato, sans-serif;
    font-size: x-large;
    text-decoration: underline;
}


.span{
    font-family:Dancing Script, sans-serif ;
}


.boxOne{
    width: 15px;
    height: 15px;
    background-color: rgb(206, 232, 62);   
}

.boxTwo{
    width: 15px;
    height: 15px;
    background-color: rgb(87, 202, 117);
    transform: translate(100%)
    rotate(45deg);
}

.topright{
    display: flex;
}


.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}


.topIconBadge{
    background-color: red;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 10px;
    top: -5px;
    right: 0px;
}


.topAvatar{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    
}